body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

canvas {
    display:block;
    background: rgb(33,36,50, 0);
    position: fixed;
    z-index: 1;
}

body {
  margin: 0;
  padding: 0;
  background: #eee;
  font-family: sans-serif;
}

h3 {
  text-align: left;
}

.container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  background: #fff;
  border-radius: 3px;
}

@media (min-width: 769px) {
  .container {
    margin: 2.5rem auto;
  }
}

/* Result Component */
.result {
  padding: 1.5rem 2.5rem;
}

.rules {
  padding-right: 5%;
}

.rulePoint {
  padding-bottom: 3%;
  font-size: 20px;
}

.confirm {
  left: 50%;
  width: 70%;
  height: 10%;
  margin-top: 20%;
  margin-left: -35%;
  background-color: #f44162;
  font-size: 32px;
}

/* Quiz Component */
.answerOptions {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  font-size: 25px;
  margin-left: 10%;
  margin-right: 10%; 
}

/* QuestionCount Component */
.questionCount {
  padding: 1.5rem 2.5rem 0;
  font-size: 14px;
}

input {
  border: 0px;
  margin-top: 2%;
  padding-top: 2%;
  height: 20%;
  width: 40%;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  border: 1px solid #555;
  font-size: 24px;
}

.infoSearch {
  border: 0px;
  margin-top: 2%;
  padding-top: 2%;
  height: 20%;
  width: 40%;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  border: 1px solid #555;
  font-size: 24px;
}

.challengeSearch {
  position: absolute;
  width: 80%;
  left: 20px;
  -webkit-transition: none;
  top: 70px;
}

input:focus {
  border: 5px solid #555;
  width: 80%;
}

.infoBox {
  width: 90%;
  border: 2px solid #1c73ff;
  padding-left: 25px;
  margin-bottom: 32px;
  background: #c0c7d1;
}

/* Question Component */
.question {
  margin: 0;
  padding-left: 2%;
  padding-right: 2%;
  border: 50px solid #fff;
}

form {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20%;
  font-size: 40px;
  background: #c0c7d1;
  border: 2px solid #1c73ff;
  width: 90%;
  margin-left: 6%;
}

.SubmitForm {
  border:2px solid #1978ab;
  text-shadow: 0.5px 0.5px black;
  width: 70%;
  height: 40px;
}

.LogInHeader {
  position: absolute;
  top: 8%;
  left: 25%;
  font-size: 64px;
}

.LogIn {
  margin-top: 5%;
  margin-bottom: 5%;
  border: 2px solid grey;
  border-radius: 4px;
}

.fail {
  border: 2px solid red;
}

.LogIn:focus {
  width: 60%;
}

h5 {
  font-size: 16px;
}


.option {

	border:2px solid #1978ab;
	/*display:inline-block; */
	cursor:pointer;
  text-align: center;
  text-shadow: 0.5px 0.5px black;
  position: fixed;
}

.timer {
  position: fixed;
  top: -4%;
  right: 5%;
  font-size: 32px;
  color: white;
}

.bottom {
  border-radius: 10px;
  font-size: 32px;
  left: 35%;
  width: 30%;
  height: 108px;
  bottom: 5%;
  background-color: #4286f4;
  align-self: center;
}

.top {
  border-radius: 50px;
  top: 2%;
  width: 50px;
  height: 50px;
  left: 1%;
  font-size: 8px;
}

.switch {
  border-radius: 50px;
  top: 2%;
  width: 50px;
  height: 50px;
  right: 1%;
  font-size: 8px;
}

.left {
  font-size: 32px;
  width: 48%;
  height: 150px;
  top: 30%;
  background-color: #4286f4;
  left: 0%;
}

.right {
  font-size: 32px;
  width: 48%;
  height: 150px;
  top: 30%;
  background-color: #f44162;
  right: 0%;
}

.resultLeft {
  font-size: 32px;
  width: 48%;
  height: 150px;
  top: 50%;
  background-color: #4286f4;
  left: 0%;
}

.resultRight {
  font-size: 32px;
  width: 48%;
  height: 150px;
  top: 50%;
  background-color: #f44162;
  right: 0%;
}

.InfoPoint {
  text-align: left;
  padding-right: 10%;

}

/* AnswerOption Component */
.answerOption {
  border-top: 1px solid #eee;
}

.answerOption:hover {
  background-color: #eefbfe;
}

.radioCustomButton {
  position: absolute;
  width: auto;
  opacity: 0;
}

.radioCustomButton,
.radioCustomLabel {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.radioCustomLabel {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 1.5rem 2.5rem 1.5rem 5rem;
  font-size: 16px;
  line-height: 1.5;
}

.radioCustomButton ~ .radioCustomLabel:before {
  position: absolute;
  top: 20px;
  left: 38px;
  width: 28px;
  height: 28px;
  content: '';
  display: inline-block;
  vertical-align: middle;
  background: #fff;
  border: 1px solid #bbb;
  border-radius: 50%;
  transition: all 0.3s;
}

.radioCustomButton:checked ~ .radioCustomLabel:before {
  content: '';
  background: #030500;
  background-size: 27px;
  border-color: #8bc53f;
}

/* Animation */
.fade-enter {
  opacity: 0;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 0.5s ease-in-out 0.3s;
}

.fade-leave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-appear {
  opacity: 0;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.challenges {
  border: 2px solid #1c73ff;
  margin-top: 17%;
  margin-left: 10%; 
  margin-right: 10%; 
  background: #c0c7d1;
 
}

.challengeBox {
  padding-right: 10px;
  margin-right: 20px;
}

.SocialTitle {
  text-decoration: underline;
}

.challengeText {
  text-align: left;
  text-decoration: none;
  font-size: 13px;
}

.challenge1 {
  border-radius: 50px;
  position: relative;
  top: -50px;
  left: 400%;
  margin-bottom: 30%;

}

.challenge2 {
  border-radius: 50px;
  position: relative;
  float: right;
  top: -50px;
  left: 550%;
}

.optionBox {
  position: absolute;
}

.challengeBTN {
  font-size: 16px;
  width: 50%;
  height: 50px;
  top: 16%;
  background-color: #e8b102;
  left: 25%;
}

.popUpOption {
  border:2px solid #1978ab;
  background-color: #e8b102;
  width: 80%;
  height: 50px;
	/*display:inline-block; */
  text-align: center;
  text-shadow: 0.5px 0.5px black;
  margin-top: 150px;
}

.modal {
  height: 250px;
}

.closePopUp {
  float: right;
  position: relative;
  left: 10px;
}

.titlePopUp {
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
  left: 20px;
  top: 30px;
}

.errorPopUp {
  position: absolute;
  top: 40%;
  left: 0%;
  color: red; 
}
